<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util
        https://www.springframework.org/schema/util/spring-util.xsd">

    <context:property-placeholder location="classpath:conf/applicationProperties.properties"/>

    <context:component-scan base-package="org.ogorodnik.shop"/>

    <!-- config contexthandler -->
    <bean id="contextHandler" class="org.eclipse.jetty.servlet.ServletContextHandler"/>

    <!-- config servletholders -->
    <bean id="allItemsHandler" class="org.eclipse.jetty.servlet.ServletHolder">
        <constructor-arg ref="itemsServlet"/>
    </bean>
    <bean id="addItemHandler" class="org.eclipse.jetty.servlet.ServletHolder">
        <constructor-arg ref="addItemServlet"/>
    </bean>
    <bean id="editItemHandler" class="org.eclipse.jetty.servlet.ServletHolder">
        <constructor-arg ref="editItemServlet"/>
    </bean>
    <bean id="processUserCardHandler" class="org.eclipse.jetty.servlet.ServletHolder">
        <constructor-arg ref="processUserCardServlet"/>
    </bean>
    <bean id="loginHandler" class="org.eclipse.jetty.servlet.ServletHolder">
        <constructor-arg ref="loginServlet"/>
    </bean>
    <bean id="logoutHandler" class="org.eclipse.jetty.servlet.ServletHolder">
        <constructor-arg ref="logoutServlet"/>
    </bean>

    <!-- config securityfilter -->
    <bean id="securityFilter" class="org.ogorodnik.shop.web.security.SecurityFilter">
        <constructor-arg value="${web.filter.url.exclude}"/>
    </bean>

    <bean id="server" class="org.eclipse.jetty.server.Server">
        <constructor-arg value="${server.port}"/>
    </bean>

</beans>