<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util
        https://www.springframework.org/schema/util/spring-util.xsd">

    <context:property-placeholder location="classpath:conf/applicationProperties.properties"/>

    <bean id="dataSource" class="org.ogorodnik.shop.dao.jdbc.ConnectionFactory"/>

    <!-- config dao -->
    <bean id="itemDao" class="org.ogorodnik.shop.dao.jdbc.JdbcItemDao">
        <constructor-arg ref="dataSource"/>
    </bean>
    <bean id="userDao" class="org.ogorodnik.shop.dao.jdbc.JdbcUserDao">
        <constructor-arg ref="dataSource"/>
    </bean>

    <!-- config services -->
    <bean id="userService" class="org.ogorodnik.shop.service.UserService">
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="itemService" class="org.ogorodnik.shop.service.ItemService">
        <property name="itemDao" ref="itemDao"/>
    </bean>
    <bean id="securityService" class="org.ogorodnik.shop.service.SecurityService">
        <constructor-arg ref="userService"/>
        <constructor-arg ref="itemService"/>
    </bean>

    <!-- insert password with random salt into database (password == login) -->
    <bean id="passwordManager" class="org.ogorodnik.shop.web.security.PasswordManager">
        <constructor-arg ref="userService"/>
    </bean>

    <!-- config contexthandler -->
    <bean id="contextHandler" class="org.eclipse.jetty.servlet.ServletContextHandler"/>

    <!-- config pagegenerator -->
    <bean id="pageGenerator" class="org.ogorodnik.shop.web.templater.PageGenerator"/>

    <!-- config servlets -->
    <bean id="itemsServlet" class="org.ogorodnik.shop.web.servlet.ItemsServlet">
        <property name="itemService" ref="itemService"/>
        <property name="pageGenerator" ref="pageGenerator"/>
    </bean>
    <bean id="addItemServlet" class="org.ogorodnik.shop.web.servlet.AddItemServlet">
        <property name="itemService" ref="itemService"/>
        <property name="pageGenerator" ref="pageGenerator"/>
    </bean>
    <bean id="editItemServlet" class="org.ogorodnik.shop.web.servlet.EditItemServlet">
        <property name="itemService" ref="itemService"/>
        <property name="pageGenerator" ref="pageGenerator"/>
    </bean>
    <bean id="processUserCardServlet" class="org.ogorodnik.shop.web.servlet.ProcessUserCardServlet">
        <property name="securityService" ref="securityService"/>
        <property name="pageGenerator" ref="pageGenerator"/>
    </bean>
    <bean id="loginServlet" class="org.ogorodnik.shop.web.servlet.LoginServlet">
        <property name="securityService" ref="securityService"/>
        <property name="pageGenerator" ref="pageGenerator"/>
    </bean>
    <bean id="logoutServlet" class="org.ogorodnik.shop.web.servlet.LogoutServlet">
        <property name="securityService" ref="securityService"/>
        <property name="pageGenerator" ref="pageGenerator"/>
    </bean>

    <!-- config servletholders -->
    <bean id="allItemsHandler" class="org.eclipse.jetty.servlet.ServletHolder">
        <constructor-arg ref="itemsServlet"/>
    </bean>
    <bean id="addItemHandler" class="org.eclipse.jetty.servlet.ServletHolder">
        <constructor-arg ref="addItemServlet"/>
    </bean>
    <bean id="editItemHandler" class="org.eclipse.jetty.servlet.ServletHolder">
        <constructor-arg ref="editItemServlet"/>
    </bean>
    <bean id="processUserCardHandler" class="org.eclipse.jetty.servlet.ServletHolder">
        <constructor-arg ref="processUserCardServlet"/>
    </bean>
    <bean id="loginHandler" class="org.eclipse.jetty.servlet.ServletHolder">
        <constructor-arg ref="loginServlet"/>
    </bean>
    <bean id="logoutHandler" class="org.eclipse.jetty.servlet.ServletHolder">
        <constructor-arg ref="logoutServlet"/>
    </bean>

    <!-- config securityfilter -->
    <bean id="securityFilter" class="org.ogorodnik.shop.web.security.SecurityFilter">
        <constructor-arg ref="securityService"/>
        <constructor-arg value="${web.filter.url.exclude}"/>
    </bean>

    <bean id="server" class="org.eclipse.jetty.server.Server">
        <constructor-arg value="${server.port}"/>
    </bean>

</beans>