<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:conf/application.properties"/>

    <bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
        <property name="poolName" value="springHikariCP"/>
        <property name="connectionTestQuery" value="SELECT 1"/>
        <property name="dataSourceClassName" value="${jdbc.dataSourceClassName}"/>
        <property name="maximumPoolSize" value="${jdbc.hikari.maximumPoolSize}"/>
        <property name="idleTimeout" value="${jdbc.hikari.idleTimeout}"/>

        <property name="dataSourceProperties">
            <props>
                <prop key="url">${jdbc.url}</prop>
                <prop key="user">${jdbc.username}</prop>
                <prop key="password">${jdbc.password}</prop>
            </props>
        </property>
    </bean>

    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
        <constructor-arg ref="hikariConfig"/>
    </bean>

    <bean id="applicationConfiguration" class="org.ogorodnik.shop.utility.ApplicationConfiguration">
        <property name="excludePattern" value="${web.filter.url.exclude}"/>
    </bean>

    <bean id="itemDao" class="org.ogorodnik.shop.dao.jdbc.JdbcItemDao">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="userDao" class="org.ogorodnik.shop.dao.jdbc.JdbcUserDao">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="itemService" class="org.ogorodnik.shop.service.ItemService">
        <constructor-arg ref="itemDao"/>
    </bean>

    <bean id="userService" class="org.ogorodnik.shop.service.UserService">
        <constructor-arg ref="userDao"/>
    </bean>

    <bean id="securityService" class="org.ogorodnik.shop.security.SecurityService">
        <constructor-arg ref="userService"/>
        <constructor-arg value="${session.cookie.max.age}"/>
    </bean>

    <bean id="cartService" class="org.ogorodnik.shop.service.CartService">
        <constructor-arg ref="itemService"/>
    </bean>

</beans>