<web-app>

    <servlet>
        <servlet-name>itemsServlet</servlet-name>
        <servlet-class>org.ogorodnik.shop.web.servlet.ItemsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>itemsServlet</servlet-name>
        <url-pattern>/items</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addItemServlet</servlet-name>
        <servlet-class>org.ogorodnik.shop.web.servlet.AddItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addItemServlet</servlet-name>
        <url-pattern>/additem</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>editItemServlet</servlet-name>
        <servlet-class>org.ogorodnik.shop.web.servlet.EditItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editItemServlet</servlet-name>
        <url-pattern>/edititem</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>org.ogorodnik.shop.web.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>org.ogorodnik.shop.web.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>processUserCardServlet</servlet-name>
        <servlet-class>org.ogorodnik.shop.web.servlet.ProcessUserCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>processUserCardServlet</servlet-name>
        <url-pattern>/usercard</url-pattern>
        <url-pattern>/usercard/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>securityFilter</filter-name>
        <filter-class>org.ogorodnik.shop.web.security.SecurityFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>securityFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

</web-app>